/* TODO: Make it awesome */
html body {
    width: 90%;
    margin: 0 auto;
    background-color: rgb(7, 11, 24);
    color: white;
    display: flex;
    flex-direction: column;
}

a {
    color: white;
}

header {
    font-size: 50px;
    display: flex;
    justify-content: space-between;
}

body header h1 {
    font-weight: bold;
}

body section h1 {
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 40px;
}

header ul {
    display: flex;
    justify-content: space-evenly;
    gap: 50px
}

ol {
    list-style-type: number;
    font-size: 25px;
    margin-left: 20px;
    margin-right: auto;
    margin-bottom: 50px;
}

tr {
    border-bottom: thin solid silver;
}



td {
    border-bottom: thin solid silver;
    margin: 20px;
    text-align: center;
}

#cart {
    border: thin solid black;
    width: 700px;
    margin-left: 700px;
}

legend {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 10px;
    margin-top: 40px;
}

.card {
    margin: 25px;
    font-size: 40px;
}

#items {
    font-size: 30px;
}

#quantity {
    font-size: 30px;
}

label {
    margin: 5px;
}

input {
    font-size: 25px;
    margin-top: 20px;

}

footer {
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
}